body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee5d1;
}

.header,
.content {
    color: #000000c5;
    width: 600px;
    height: auto;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0 auto;
}
.recipe-img {
    width: 600px;
    height: auto;
}